name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore GeoidHeightsDotNet.sln
    - name: Build (debug)
      run: dotnet build --no-restore -p:PackageVersion=$(git describe --tags) GeoidHeightsDotNet.sln
    - name: Test (debug) & Code Coverage
      run: |
        cd GeoidHeights.Tests
        dotnet tool install -g dotnet-reportgenerator-globaltool
        dotnet test --no-build --verbosity normal -p:CollectCoverage=true -p:CoverletOutputFormat=cobertura -p:CoverletOutput='./coveragereport/' GeoidHeights.Tests.csproj
        reportgenerator -reports:"coveragereport/coverage.cobertura.xml" -targetdir:"coveragereport" -reporttypes:Html
        cd ..
    - name: Build (release)
      run: dotnet build --no-restore --configuration Release -p:PackageVersion=$(git describe --tags) GeoidHeightsDotNet.sln
    - name: Test (release)
      run: dotnet test --no-build --verbosity normal --configuration Release GeoidHeightsDotNet.sln
    - name: Upload nupkg
      uses: actions/upload-artifact@v4
      with:
        name: nupkg
        path: GeoidHeights/bin/Release/*.nupkg
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: GeoidHeights.Tests/coveragereport/*
